# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Environnements virtuels
venv/
env/
mon_env/
.venv/

# Base de données
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environnement
.env
